.header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 30px;
  margin: 0 auto 70px;
  border-bottom: 1px solid #daefea;
  position: fixed;
  z-index: 100;
}
.header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
}
.header .header-left h1 img.logo {
  width: 164px;
  height: 26px;
}
.header .header-left .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #495057;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 0 24px;
}
.header .header-left .nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 6px 8px;
  border-radius: 5px;
}
.header .header-left .nav li.active {
  color: #00a88f;
}
.header .header-left .nav li:hover,
.header .header-left .nav li :active {
  color: #00a88f;
  background-color: rgba(66, 99, 235, 0.03);
}
.header .header-right {
  gap: 30px;
}
.header .header-right .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.header .header-right .profile-icon {
  width: 24px;
  height: 24px;
  line-height: 100%;
  background-color: #bac8ff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header .header-right .profile-icon__alphabet {
  text-transform: capitalize;
  font: 1rem;
  line-height: 100%;
  font-weight: 400;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header .header-right .profile-id {
  gap: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 100%;
  color: #495057;
  cursor: pointer;
  padding: 6px 4px;
}
.header .header-right .profile-id:hover {
  opacity: 0.9;
}
.header .header-right .profile-id__name {
  display: block;
}
.header .header-right .profile-id__icon {
  display: inline-block;
}
.header .header-right .profile-id__icon .icon-down {
  width: 16px;
  height: 16px;
}
.header .header-right .acount {
  display: none;
  width: 140px;
  position: absolute;
  z-index: 10;
  top: 48px;
  right: 30px;
}
